
@{
    ViewBag.Title = "HetHang";
    Layout = "~/Views/Shared/_LayoutNoneSlide.cshtml";
}

<div class="container">
    <div class="row">
        <div class="alert alert-danger" style="margin: 50px auto;">
            Sản phẩm này hết hàng ! @Html.ActionLink("Quay lại","Index")
        </div>

    </div>
</div>

