
@{
    ViewBag.Title = "HoanThanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success">
                Đặt hàng thành công ! <a href="/lich-su-dat-hang">Xem đơn hàng</a>
            </div>
        </div>
    </div>
</div>
