
@{
                /**/

                ViewBag.Title = "Error_ChuaLogin";
                Layout = "~/Views/Shared/_LayoutNoneSlide.cshtml";
}


<div class="container">
    <div class="row">
        <div class="alert alert-danger" style="margin: 50px auto;">
            Bạn chưa đăng nhập? Đăng nhập <a href="/dang-nhap">tại đây</a>
        </div>

    </div>
</div>


