
@{
    ViewBag.Title = "Error_DanhGia";
    Layout = "~/Views/Shared/_LayoutNoneSlide.cshtml";
}

<div class="container">
    <div class="row">
        <div class="alert alert-danger" style="margin: 50px auto;">
            Bạn đã đánh giá sản phẩm này rồi
        </div>

    </div>
</div>
