
@{
    ViewBag.Title = "dmkOKE";
    Layout = "~/Views/Shared/_LayoutNoneSlide.cshtml";
}

<div class="container">
    <div class="row">
        <div class="alert alert-success">
            Đổi mật khẩu thành công !
        </div>

    </div>
</div>