
@{
    ViewBag.Title = "HoanThanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="alert alert-success">
            @ViewBag.Success<a href="/dang-nhap">Đăng nhập?</a>
        </div>

    </div>
</div>


